* {
  background-color: white;
}

.app {
  .header-main {
    background-color: $color-blue;
    color: $color__text--light;

    & * {
      background-color: $color-blue;
    }
  }

  .section-welcome {
    background-color: white;

    .article-left {
      background-color: $color-blue;
      color: $color__text--light;

      & * {
        background-color: $color-blue;
      }
    }

    .article-right {
      &__content {
        background-color: $color-gray;

        p {
          color: $color-dark-gray;
        }

        & * {
          background-color: $color-gray;
        }
      }
    }
  }

  .section-webdev {
    background-color: $color-blue;

    .article-left {
      color: $color__text--light;
      background-color: $color-blue;

      & * {
        background-color: $color-blue;
      }
    }

    .article-right {
      &__intro-content {
        color: $color__text--light;
        background-color: $color-blue;

        & * {
          background-color: $color-blue;
        }
      }

      &__main-content {
        color: $color__text--dark;

        p,
        h4 {
          color: $color-dark-gray;
        }
      }
    }
  }

  .section-contact {
    .article-left {
      background-color: $color__text--light;
      color: $color__text--dark;

      p {
        color: $color-dark-gray;
      }
    }
  }

  .footer-main {
    background-color: $color__text--dark;
    color: $color__text--light;

    p {
      color: $color-dark-gray;
    }

    & * {
      background-color: $color__text--dark;
    }
  }
}
