html {
  font-family: "Helvetica", "Arial", sans-serif;

  p {
    font-weight: lighter;
  }
}

.header-main {
  .logo {
    font-size: 2rem;
  }
}

nav {
  ul {
    li {
      padding: 0rem 0.5rem;
      display: inline-block;
      text-transform: uppercase;
    }

    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      padding-right: 0;
    }
  }
}

h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.2rem;
}

.footer-main__copyright {
  span {
    font-weight: lighter;
  }
}
