.section-webdev {
  .article-right {
    ul {
      list-style: none;
      li {
        text-transform: capitalize;
        font-style: italic;
      }

      li:not(:last-child) {
        border-bottom: 1px solid black;
      }
    }
  }
}
