$color__text--light: white;
$color__text--dark: black;
$color-blue: #438ccc;
$color-gray: #d7d7d7;
$color-dark-gray: gray;
$color__button-learnmore--default: #3b90c1;
$color__button-learnmore--pressed: #005380;

:root {
  --buttonLearnmoreDefault: #{$color__button-learnmore--default};
  --buttonLearnmorePressed: #{$color__button-learnmore--pressed};
  --colorBlue: #{$color-blue};
}
